@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 7px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #000;
}

nav {
  background-color: #000;
  color: #fff;
  padding: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.info {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  width: 40%;
  margin-right: 1rem;
}

.info h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #ff6f61;
}

.info h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #333;
}

#reset,
#switchMode {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  background-color: #ffcc00;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

#reset:hover,
#switchMode:hover {
  background-color: #ffdb4d;
}

.scoreboard,
.instructions {
  margin-top: 1rem;
}

.scoreboard h3,
.instructions h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #ff6f61;
}

.scoreboard p,
.instructions p {
  font-size: 2.2rem;
  color: #333;
}

.instructions p {
  font-size: 1.5rem;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 13rem);
  grid-template-rows: repeat(3, 13rem);
  gap: 0.3rem;
  width: 40%;
  max-width: 450px;
  padding-top: 1rem;
  aspect-ratio: 1;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcc00ce;
  border: 3px solid #000;
  font-size: 5rem;
  font-weight: 700;
  color: #000;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.box:hover {
  background-color: #ffe066b2;
}

.bt-0 {
  border-top: none;
}

.bb-0 {
  border-bottom: none;
}

.bl-0 {
  border-left: none;
}

.br-0 {
  border-right: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.overlay-content {
  text-align: center;
  color: #fff;
  padding: 2rem;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.overlay-content h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.overlay-content img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

#closeOverlay {
  padding: 1rem 2rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: #ff6f61;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#closeOverlay:hover {
  background-color: #ff8a7b;
}

@media (max-width:2600px) {
  :root {
    font-size: 15px;
  }
}

@media (max-width: 1600px) {
  :root {
    font-size: 9px;
  }

  .game {
    padding-top: 4.5rem;
  }
}

@media (max-width: 1200px) {
  :root {
    font-size: 7px;
  }

  .game {
    padding-top: 9rem;
  }
}

@media (max-width:800px) {
  .info {
    width: 50%;
  }

  .game {
    width: 35%;
    padding-top: 0;
  }
}

@media (max-width:500px) {
  :root {
    font-size: 3px;
  }

  .container {
    align-items: start;
    margin-top: 3rem;
  }

  .info {
    width: 40%;
  }
}

@media (max-width:330px) {
  .info {
    width: 50%;
  }

  .game {
    padding-top: 2rem;
  }
}